* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(63, 61, 61);
}
.title--app {
    text-align: center;
    margin-top: 1em;
    font-size: 3em;
    font-family: 'Oleo Script', cursive;
    color: white;
}

.list--wrapper{
    width: 45em;
    margin: 1em auto;
}

.list--form{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#input--list {
    width: 80%;
    height: 2.5em;
    font-size: 1.2em;
    padding-left: 0.4em;
    border-radius: 5px;
    border: unset;
}

#submit {
    font-size: 1.5em;
    padding: 0.3em 1.2em;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}

#submit:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.list--list {
    width: 100%;
    margin-top: 5em;
    color: white;
}
.list--todo--wrapper {
    width: 100%;
    height: 3em;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom:  1em;
    border-radius: 0.3em;
    border-bottom: 2px solid white;
}
.list--todo--wrapper:hover{
    background-color: rgb(236, 236, 236);
    color: black;
}
.list--todo--check {
    width: 10%;
    height: 100%;
    font-size: 1.5em;
    text-align: center;
    color: white;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}
.list--todo--check .fas{
    margin-top: 0.5em;
}
.list--todo--check:hover{
    cursor: pointer;
    color: rgb(46, 124, 50);
}

.list--todo--item {
    width: 80%;
    height: 100%;
    font-size: 1.5em;
    overflow: hidden;
    line-height: 2em;
    padding-left: 1em;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.list--todo--delete{
    width: 10%;
    height: 100%;
    font-size: 1.5em;
    text-align: center;
    color: rgb(245, 241, 241);
}
.list--todo--delete .fas {
   margin-top: 0.5em;
}
.list--todo--delete .fas:hover{
    color: red;
    cursor: pointer;
}

.list--clear {
    width: 100%;
    height: 4em;
}
.list--clear button {
    text-align: center;
    font-size: 1.5em;
    line-height: 2.5em;
    display: block;
    margin: 0 auto;
    border: 1px solid white;
    background-color: rgb(238, 236, 236);
    border-radius: 0.5em;
    padding: 0em 1em;
}
.list--clear button:hover{
    cursor: pointer;
    color:red;
}